@import '~ngx-toastr/toastr';
@import '~@angular/material/theming';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.box {
    position: relative;
    top: 100px;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
   // background: #ffffff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
    justify-content: center;
    align-items: center;
}

